.column {
    width: 500px;
    float: left;
    padding: 20px;
}

@media screen and (max-width: 768px) and (min-width: 600px) {
    body {
        background: #5291aa;
        color: #fff;
    }
}

@media screen and (max-width: 480px) {
    body {
        background-color: rgb(155, 93, 155);
    }
    .column {
        width: 250px;
    }
}