/* Styles for the Book Store */

* {
    margin: 0;
    padding: 0;
}

.topHeader {
    background-color: #41af8c;
    /* background: url(../img/spong.jpg); */
    padding: 50px;
}

body {
    text-align: center;
    background-color: #151515;
    color: #edf6ff;
    font-family: 'Gentium Book Basic', serif;
}

h1 {
    font-size: 120px;
    padding: 20px;
    text-transform: uppercase;
}

h2 {
    font-size: 30px;
    padding: 20px;
    letter-spacing: 3px;
}

img {
    display: block;
    margin: auto;
    width: 50%;
    padding: 30px;
}

.navMenu {
    list-style: none;
    padding: 30px;
    margin-top: 15px;
    font-size: 15px;
}

.navMenu li {
    display: inline-block;
}

.navMenu a {
    text-decoration: none;
    padding: 10px;
    color: #edf6ff;
}

.mainSection {
    padding: 50px;
}

#blurb {
    width: 50%;
    margin: auto;
}

footer {
    margin-top: 20px;
    padding: 40px;
    background-color: #41af8c;
}

#yellow {
    color: yellow;
}